html{
    font-size: 100%;
    box-sizing: border-box;

}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Fraunces', serif;//weight 700 900
    font-family: 'Barlow', sans-serif;//weight 600
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
}
.title{
    // padding-top: 4.5rem;
    padding-bottom: 1.875rem;
    font-family: Fraunces, sans-serif;
    font-size: 32px;
    font-weight: 900;
    // @media (min-width: 769px){
      
    //     font-size: 50px;
    // }


}
.description{

    font-size: 18px;
    line-height: 1.6;
    color: $DarkGrayishBlue;


}
@media (min-width: 769px){

    .mobile{
        display: none;
    }
    
}
@media (max-width: 769px){
    .desktop{
        display: none;
    }

}