html{
    font-size: 100%;
    box-sizing: border-box;

}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
}